<section [class.callout]="!model.isNew" [class.is-saving]="model.isSaving" [class.is-deleted]="model.isDeleted"
        (click)="editNote($event)">
    <form (submit)="saveNote($event)">
    <main>
        <div *ngIf="model.isEditing">
            <textarea [(ngModel)]="model.body" placeholder="Body" autofocus></textarea>
        </div>
        <div *ngIf="!model.isEditing">
            {{model.body}}
        </div>
    </main>
    <header>
        <div *ngIf="model.isEditing" class="input-group">
            <input type="text" placeholder="Title" class="input-group-field" [(ngModel)]="model.title" />
            <div class="input-group-button">
                <input type="submit" value="S" class="button">
            </div>
            <div *ngIf="!model.isNew" class="input-group-button">
                <button type="button" class="button" (click)="deleteNote($event)">D</button>
            </div>
        </div>
        <h2 *ngIf="!model.isEditing">
            {{model.title}}
        </h2>
    </header>
    </form>
</section>
